body {
    margin: 0;
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
  }
.dark{
    background-color: black;
    width: 100%;
}
.container-fluid{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sos-btn{
    list-style-type: none;
}